<div style="text-align: center">
  <h1>
    Angular Prototyp
  </h1>
</div>

<!-- Spielfeld -->
<div class="spielfeld">
  <!-- Spielfeld Hintergrund -->
  <img class="spielfeldHintergrund" src="assets/images/spielfeld.jpg" alt="Spielfeld">
  <!-- Abwehrspieler -->
  <div class="spieler abwehrspieler" [@bewegeSpieler]="{value: abwehrspieler[0].bewege, params:{x: abwehrspieler[0].x, y: abwehrspieler[0].y}}">{{abwehrspieler[0].name}}</div>
  <div class="spieler abwehrspieler" [@bewegeSpieler]="{value: abwehrspieler[1].bewege, params:{x: abwehrspieler[1].x, y: abwehrspieler[1].y}}">{{abwehrspieler[1].name}}</div>
  <div class="spieler abwehrspieler" [@bewegeSpieler]="{value: abwehrspieler[2].bewege, params:{x: abwehrspieler[2].x, y: abwehrspieler[2].y}}">{{abwehrspieler[2].name}}</div>
  <div class="spieler abwehrspieler" [@bewegeSpieler]="{value: abwehrspieler[3].bewege, params:{x: abwehrspieler[3].x, y: abwehrspieler[3].y}}">{{abwehrspieler[3].name}}</div>
  <div class="spieler abwehrspieler" [@bewegeSpieler]="{value: abwehrspieler[4].bewege, params:{x: abwehrspieler[4].x, y: abwehrspieler[4].y}}">{{abwehrspieler[4].name}}</div>
  <div class="spieler abwehrspieler" [@bewegeSpieler]="{value: abwehrspieler[5].bewege, params:{x: abwehrspieler[5].x, y: abwehrspieler[5].y}}">{{abwehrspieler[5].name}}</div>
  <div class="spieler abwehrspieler" [@bewegeSpieler]="{value: abwehrspieler[6].bewege, params:{x: abwehrspieler[6].x, y: abwehrspieler[6].y}}">{{abwehrspieler[6].name}}</div>
  <!-- Angriffspieler -->
  <div class="spieler angriffspieler" [@bewegeSpieler]="{value: angriffspieler[0].bewege, params:{x: angriffspieler[0].x, y: angriffspieler[0].y}}">{{angriffspieler[0].name}}</div>
  <div class="spieler angriffspieler" [@bewegeSpieler]="{value: angriffspieler[1].bewege, params:{x: angriffspieler[1].x, y: angriffspieler[1].y}}">{{angriffspieler[1].name}}</div>
  <div class="spieler angriffspieler" [@bewegeSpieler]="{value: angriffspieler[2].bewege, params:{x: angriffspieler[2].x, y: angriffspieler[2].y}}">{{angriffspieler[2].name}}</div>
  <div class="spieler angriffspieler" [@bewegeSpieler]="{value: angriffspieler[3].bewege, params:{x: angriffspieler[3].x, y: angriffspieler[3].y}}">{{angriffspieler[3].name}}</div>
  <div class="spieler angriffspieler" [@bewegeSpieler]="{value: angriffspieler[4].bewege, params:{x: angriffspieler[4].x, y: angriffspieler[4].y}}">{{angriffspieler[4].name}}</div>
  <div class="spieler angriffspieler" [@bewegeSpieler]="{value: angriffspieler[5].bewege, params:{x: angriffspieler[5].x, y: angriffspieler[5].y}}">{{angriffspieler[5].name}}</div>
  <!-- Ball -->
  <div class="ball" [@bewegeBall]="{value: ballwo, params:{ballx: ballx, bally: bally}}"></div>
  <!-- Legende -->
  <div class="legende">
    <div class="legendeAngriff">
      Angriff: LA = Linksaußen, RL = Rückraum Links, RM = Rückraum Mitte,
      RR = Rückraum Rechts, RA = Rechtsaußen, KM = Kreis Mitte
    </div>
    <div class="legendsAbwehr">
      Abwehr: AR = Außen Rechts, HR = Hinten Rechts, HM = Hinten Mitte, HL = Hinten Links,
      AL = Außen Links, VM = Vorne Mitte, TW = Torwart
    </div>
  </div>
</div>

<!-- Optionen -->
<div class="optionen">
  <h2>Optionen</h2>
  <!-- Button zum starten des Ballwechsels -->
  <p><button (click)="startstopLoop()">startstop Ballwechsel</button></p>
  <!--Dropdownmenue zum auswaehlen des Spielers, denn man bearbeiten will -->
  Aktionen für
  <select (change)="changeSelectedSpielerHandler($event.target.value)">
    <option [value]="abwehrspieler.indexOf(spieler)" *ngFor="let spieler of abwehrspieler">
      {{spieler.name}}
    </option>
  </select>
  bearbeiten:

  <!-- Tabelle mit den Aktionen -->
  <table>
    <tr>
      <th>Spieler mit Ball</th>
      <th>Ballrichtung</th>
      <th class = "thick-left-border">Bewege zu</th>
      <th class = "thick-left-border">Loeschen</th>
    </tr>
    <!-- Auflistung aller Aktionen fuer den ausgewaehlten Spieler -->
    <tr *ngFor="let aktion of selectedSpieler.aktionstabelle">
      <td>
        <!-- Spieler mit dem Ball -->
        <select name = "ballwoselect" [value] = "aktion[ballwoIndex]">
          <option [value] = "angriffspieler.indexOf(ballwoOption) "
          *ngFor="let ballwoOption of angriffspieler">
            {{ballwoOption.name}}
          </option>
          <option [value]="-1">egal</option>
        </select>
      </td>

      <td>
        <!-- Ballrichtung -->
        <select name = "spielrichtungselect" [value] = "aktion[spielrichtungIndex]">
          <option [value]="1">Links</option>
          <option [value]="0">Rechts</option>
          <option [value]="-1">egal</option>
        </select>
      </td>

      <td class = "thick-left-border">
        <!-- zu Welchem Spieler soll sich bewegt werden? -->
        <select name = "bewegezuselect" [value] = "aktion[bewegezuIndex]">
          <option [value]="angriffspieler.indexOf(bewegezuOption)"
          *ngFor="let bewegezuOption of angriffspieler">
            {{bewegezuOption.name}}
          </option>
          <option [value]="-1">zurueck</option>
        </select>
      </td>
      <td class = "thick-left-border">
        <button (click)="selectedSpieler.removeAktion(aktion)">-</button>
      </td>
    </tr>
  </table>

  <!-- Button zum bestaetigen der Aenderungen -->
  <button (click)="selectedSpieler.addAktionLeer()">Aktion hinzufuegen</button>
  <p><button (click)="bestaetigeAenderungen()">Aenderungen bestaetigen</button></p>
</div>

<router-outlet></router-outlet>
