<div style="text-align: center">
  <h1>
    Angular Prototyp
  </h1>
</div>

<!-- Spielfeld -->
<div class="spielfeld">
  <!-- Spielfeld Hintergrund -->
  <img class="spielfeldHintergrund" src="assets/images/spielfeld.jpg" alt="Spielfeld">
  <!-- Abwehrspieler -->
  <div class="spieler abwehrspieler" [@bewegeSpieler]="{value: abwehrspieler[0].bewege, params:{x: abwehrspieler[0].x, y: abwehrspieler[0].y}}">{{abwehrspieler[0].name}}</div>
  <div class="spieler abwehrspieler" [@bewegeSpieler]="{value: abwehrspieler[1].bewege, params:{x: abwehrspieler[1].x, y: abwehrspieler[1].y}}">{{abwehrspieler[1].name}}</div>
  <div class="spieler abwehrspieler" [@bewegeSpieler]="{value: abwehrspieler[2].bewege, params:{x: abwehrspieler[2].x, y: abwehrspieler[2].y}}">{{abwehrspieler[2].name}}</div>
  <div class="spieler abwehrspieler" [@bewegeSpieler]="{value: abwehrspieler[3].bewege, params:{x: abwehrspieler[3].x, y: abwehrspieler[3].y}}">{{abwehrspieler[3].name}}</div>
  <div class="spieler abwehrspieler" [@bewegeSpieler]="{value: abwehrspieler[4].bewege, params:{x: abwehrspieler[4].x, y: abwehrspieler[4].y}}">{{abwehrspieler[4].name}}</div>
  <div class="spieler abwehrspieler" [@bewegeSpieler]="{value: abwehrspieler[5].bewege, params:{x: abwehrspieler[5].x, y: abwehrspieler[5].y}}">{{abwehrspieler[5].name}}</div>
  <div class="spieler abwehrspieler" [@bewegeSpieler]="{value: abwehrspieler[6].bewege, params:{x: abwehrspieler[6].x, y: abwehrspieler[6].y}}">{{abwehrspieler[6].name}}</div>
  <!-- Angriffspieler -->
  <div class="spieler angriffspieler" [@bewegeSpieler]="{value: angriffspieler[0].bewege, params:{x: angriffspieler[0].x, y: angriffspieler[0].y}}">{{angriffspieler[0].name}}</div>
  <div class="spieler angriffspieler" [@bewegeSpieler]="{value: angriffspieler[1].bewege, params:{x: angriffspieler[1].x, y: angriffspieler[1].y}}">{{angriffspieler[1].name}}</div>
  <div class="spieler angriffspieler" [@bewegeSpieler]="{value: angriffspieler[2].bewege, params:{x: angriffspieler[2].x, y: angriffspieler[2].y}}">{{angriffspieler[2].name}}</div>
  <div class="spieler angriffspieler" [@bewegeSpieler]="{value: angriffspieler[3].bewege, params:{x: angriffspieler[3].x, y: angriffspieler[3].y}}">{{angriffspieler[3].name}}</div>
  <div class="spieler angriffspieler" [@bewegeSpieler]="{value: angriffspieler[4].bewege, params:{x: angriffspieler[4].x, y: angriffspieler[4].y}}">{{angriffspieler[4].name}}</div>
  <div class="spieler angriffspieler" [@bewegeSpieler]="{value: angriffspieler[5].bewege, params:{x: angriffspieler[5].x, y: angriffspieler[5].y}}">{{angriffspieler[5].name}}</div>
  <!-- Ball -->
  <div class="ball" [@bewegeBall]="{value: ballwo, params:{ballx: ballx, bally: bally}}"></div>
  <!-- Legende -->
  <div class="legende">
    <div class="legendeAngriff">
      Angriff: LA = Linksaußen, RL = Rückraum Links, RM = Rückraum Mitte,
      RR = Rückraum Rechts, RA = Rechtsaußen, KM = Kreis Mitte
    </div>
    <div class="legendsAbwehr">
      Abwehr: AR = Außen Rechts, HR = Hinten Rechts, HM = Hinten Mitte, HL = Hinten Links,
      AL = Außen Links, VM = Vorne Mitte, TW = Torwart
    </div>
  </div>
</div>

<!-- Optionen -->
<div class="optionen">
  <h2>Optionen</h2>
  <!-- Button zum starten des Ballwechsels -->
  <p><button (click)="startstopLoop()">startstop Ballwechsel</button></p>
  <!--Dropdownmenue zum auswaehlen des Spielers, denn man bearbeiten will -->
  <select (change)="changeSelectedSpielerHandler($event.target.value)">
    <option [value]="abwehrspieler.indexOf(spieler)" *ngFor="let spieler of abwehrspieler">
      {{spieler.name}}
    </option>
  </select>
  <!-- Auflistung aller Aktionen fuer den ausgewaehlten Spieler -->
  <p *ngFor="let aktion of selectedSpieler.aktionstabelle">
    <!-- Spieler mit dem Ball -->
    Spieler mit Ball:
    <ng-container *ngIf="aktion.ballwo > -1; then thenTemplateballwo; else elseTemplateballwo"></ng-container>
    <ng-template #thenTemplateballwo>
      {{angriffspieler[aktion.ballwo].name}}
    </ng-template>
    <ng-template #elseTemplateballwo>
      egal
    </ng-template>
    <select (change)="selectedSpieler.changeBallwoInAktion($event.target.value)">
      <option [value]="[selectedSpieler.aktionstabelle.indexOf(aktion), angriffspieler.indexOf(ballwoOption)]"
      *ngFor="let ballwoOption of angriffspieler">
        {{ballwoOption.name}}
      </option>
      <option [value]="[selectedSpieler.aktionstabelle.indexOf(aktion), -1]">egal</option>
    </select>

    <!-- Ballrichtung -->
    <br>Ballrichtung:
    <ng-container *ngIf="aktion.spielrichtung > -1; then thenTemplatespielrichtung; else elseTemplatespielrichtung"></ng-container>
    <ng-template #thenTemplatespielrichtung>
      <ng-container *ngIf="aktion.spielrichtung == 0; then thenTemplatespielrichtungRechts; else elseTemplatespielrichtungLinks"></ng-container>
      <ng-template #thenTemplatespielrichtungRechts>
        Rechts
      </ng-template>
      <ng-template #elseTemplatespielrichtungLinks>
        Links
      </ng-template>
    </ng-template>
    <ng-template #elseTemplatespielrichtung>
      egal
    </ng-template>
    <select (change)="selectedSpieler.changeBallrichtungInAktion($event.target.value)">
      <option [value]="[selectedSpieler.aktionstabelle.indexOf(aktion), 1]">Links</option>
      <option [value]="[selectedSpieler.aktionstabelle.indexOf(aktion), 0]">Rechts</option>
      <option [value]="[selectedSpieler.aktionstabelle.indexOf(aktion), -1]">egal</option>
    </select>

    <!-- zu Welchem Spieler soll sich bewegt werden? -->
    <br>Bewege zu:
    <ng-container *ngIf="aktion.bewegezu > -1; then thenTemplatebewegezu; else elseTemplatebewegezu"></ng-container>
    <ng-template #thenTemplatebewegezu>
      {{angriffspieler[aktion.bewegezu].name}}
    </ng-template>
    <ng-template #elseTemplatebewegezu>
      Auf Start
    </ng-template>
    <select (change)="selectedSpieler.changeBewegezuInAktion($event.target.value)">
      <option [value]="[selectedSpieler.aktionstabelle.indexOf(aktion), angriffspieler.indexOf(bewegezuOption)]"
      *ngFor="let bewegezuOption of angriffspieler">
        {{bewegezuOption.name}}
      </option>
      <option [value]="[selectedSpieler.aktionstabelle.indexOf(aktion), -1]">Auf Start</option>
    </select>
  </p>
</div>

<router-outlet></router-outlet>
